<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>

    <th:block th:include="fragments/include-link"></th:block>
</head>
<body>
    <th:block th:include="fragments/header"></th:block>

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-12">
                <a href="/idea/save" role="button" class="btn btn-primary">投稿</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>タイトル</th>
                        <th>説明</th>
                        <th>登録者</th>
                        <th>登録日</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="idea : ${ideas}">
                        <td th:text="${idea.id}">100</td>
                        <td th:text="${idea.title}"></td>
                        <td th:text="${idea.content}"></td>
                        <td th:text="${idea.author}"></td>
                        <td th:text="${idea.createdDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>

<th:block th:include="fragments/include-script"></th:block>
</body>
</html>