<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>

    <th:block th:include="fragments/include-link"></th:block>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <th:block th:include="fragments/header"></th:block>
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="/idea/save" role="button" class="btn btn-primary">投稿</a>
                </div>
                <div th:each="idea : ${ideas}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">
                        <div class="title">
                            <h4 th:text="${idea.title}"></h4>
                        </div>

                        <div class="text">
                            <span th:text="${idea.content}"></span>
                        </div>

                        <a th:href="@{/idea/{id}(id = ${idea.id})}">Read More</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>

<th:block th:include="fragments/include-script"></th:block>
</body>
</html>