<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>

    <th:block th:include="fragments/include-link"></th:block>
    <link th:href="@{/css/comment/comment.css}" rel="stylesheet"/>
</head>
<body>
<th:block th:include="fragments/header"></th:block>

<div class="container" style="margin-top:30px" th:object="${idea}">
    <div class="row">
        <div class="col-sm-12">
            <form>

                <div class="form-group">
                    <label for="ideaId">アイデア番号:</label>
                    <input type="text" class="form-control" id="ideaId" th:field="*{ideaId}" readonly>
                </div>

                <div class="form-group">
                    <label for="title">タイトル:</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" readonly>
                </div>

                <div class="form-group">
                    <label for="author">登録者:</label>
                    <input class="form-control" rows="5" id="author" th:field="*{author}" readonly>
                </div>

                <div class="form-group">
                    <label for="createdDate">登録日:</label>
                    <input class="form-control" rows="5" id="createdDate" th:field="*{createdDate}" readonly>
                </div>

                <div class="form-group">
                    <label for="content">説明:</label>
                    <textarea class="form-control" rows="5" id="content" th:field="*{content}" readonly></textarea>
                </div>

            </form>

            <div class="form-group row">
                <div class="col-sm-11">
                    <label for="comment">コメント:</label>
                    <textarea class="form-control" rows=2 id="comment"></textarea>
                </div>
                <div class="col-sm-1 d-flex align-items-end">
                    <button type="button" class="btn btn-primary" id="btn-comment-save">投稿</button>
                </div>
            </div>

            <div class="media comment-box" th:each="comment : *{comments}">
                <div class="media-body">
                    <h6 class="media-heading" th:text="${comment.author}"></h6>
                    <h6 class="media-heading" th:text="${comment.modifiedDate}"></h6>
                    <p th:text="${comment.comment}"></p>
                </div>
            </div>


            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">削除</button>
            <a th:href="@{/idea/edit/{id}(id = ${idea.ideaId})}" type="button" class="btn btn-primary">変更</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">削除確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>本アイデアを削除してもよろしいですか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャセル</button>
                <button type="button" class="btn btn-danger" id="btn-delete">削除</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>


<th:block th:include="fragments/include-script"></th:block>
<script th:src="@{/js/idea/idea.js}"></script>
<script th:src="@{/js/comment/comment.js}"></script>
</body>
</html>