<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>

    <th:block th:include="fragments/include-link"></th:block>
    <link th:href="@{/css/comment/comment.css}" rel="stylesheet"/>
</head>
<body>
<th:block th:include="fragments/header"></th:block>

<div class="container" style="margin-top:30px" th:object="${idea}">
    <div class="row">
        <div class="col-sm-12">
            <form>

                <div class="form-group">
                    <label for="ideaId">アイデア番号:</label>
                    <input type="text" class="form-control" id="ideaId" th:field="*{ideaId}" readonly>
                </div>

                <div class="form-group">
                    <label for="title">タイトル:</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" readonly>
                </div>

                <div class="form-group">
                    <label for="author">登録者:</label>
                    <input class="form-control" rows="5" id="author" th:field="*{author}" readonly>
                </div>

                <div class="form-group">
                    <label for="createdDate">登録日:</label>
                    <input class="form-control" rows="5" id="createdDate" th:field="*{createdDate}" readonly>
                </div>

                <div class="form-group">
                    <label for="content">説明:</label>
                    <textarea class="form-control" rows="5" id="content" th:field="*{content}" readonly></textarea>
                </div>

            </form>

            <div class="form-group row">
                <div class="col-sm-11">
                    <label for="comment">コメント:</label>
                    <textarea class="form-control" rows=2 id="comment"></textarea>
                </div>
                <div class="col-sm-1 d-flex align-items-end">
                    <button type="button" class="btn btn-primary" id="btn-comment-save">投稿</button>
                </div>
            </div>

            <div class="card gedf-card" th:each="comment : *{comments}">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
<!--                            <div class="mr-2">-->
<!--                                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">-->
<!--                            </div>-->
                            <div class="ml-2">
                                <div class="h5 m-0" th:text="${comment.author}"></div>
                                <div class="h7 text-muted" th:text="${comment.modifiedDate}"></div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <input type="hidden" name="commentId" class="comment-id" th:value="${comment.commentId}">
<!--                                    <a class="dropdown-item-edit" href="javascript:void(0);">編集</a>-->
                                    <a class="dropdown-item-delete" href="javascript:void(0);">削除</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${comment.comment}"></p>
                </div>

            </div>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">削除</button>
            <a th:href="@{/idea/edit/{id}(id = ${idea.ideaId})}" type="button" class="btn btn-primary">変更</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">削除確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>本アイデアを削除してもよろしいですか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャセル</button>
                <button type="button" class="btn btn-danger" id="btn-delete">削除</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>


<th:block th:include="fragments/include-script"></th:block>
<script th:src="@{/js/idea/idea.js}"></script>
<script th:src="@{/js/comment/comment.js}"></script>
</body>
</html>